.cls-2 {
  stroke: #03ff3b;
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 25px;
}
.cls-1 {
  stroke: #5e5e5e;
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 25px;
}
